body{
	background-image: url(https://i.ibb.co/hXqWwh0/Screen-Shot-2020-08-06-at-12-39-35-AM.png);
}

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}


#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
    overflow: auto;
    display: none;
}

#instruction-box {
background-color: rgb(221, 125, 96);
height: 150px;
width:550px;
border-radius: 2px;
margin: 150px auto;
text-align: center;
}

.card {
	flex-basis: 8em;
  	height: 12em;
  	border: 1px solid black;
  	background: #bee772;
  	box-shadow: 2px 2px 4px grey;
  	display: block;
  	border-radius: 7%; 	
}

.top {
	grid-area: top;
}

.bottom {
	grid-area: bottom;
}

/* #circle-one {
	background: pink;
	backface-visibility: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#circle-two {
	background: yellow;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#circle-three {
	background: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#circle-four {
	background: lightskyblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#circle-five {
	background: aqua;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#circle-six {
	background:orchid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
} */

.card-back  {
  /* background-size: 100px 100px;
  background-color: rgb(148, 141, 243);
  color: rgba(126, 31, 31, 0); */
  /* background:
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
background-color: #840b2a; */
/* background-color:silver;
background-image:
radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
background-size: 100px 50px; */

background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}
 
 